<head>
  <meta charset="utf-8" />
  <title>
    {% if page.title == "Home" %} {{site.data.settings.title}} -
    {{site.data.settings.tagline}} {% else %} {{page.title}} |
    {{site.data.settings.title}} {% endif %}
  </title>
  <meta name="robots" content="index,follow" />
  <meta
    name="description"
    content="This is tbolt's weblog about ui design, computer programming, and other topics"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="icon" type="image/png" href="/assets/img/favicon.ico" />
</head>
