<div class="menu">
  <nav class="menu-content">
    {% for item in site.data.settings.pages %}
      <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
    <a href="{{ site.github.url }}/feed">RSS</a>
  </nav>
  <nav class="social-icons">
    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}"><span class="hide">Link to {{ item.icon }} profile</span><i class="fa fa-{{ item.icon }}" alt="Link to {{ item.icon }} profile" target="_blank"></i><span hidden>{{ item.icon }}</span></a>
    {% endfor %}
  </nav>
</div>
