.grid {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.grid > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
    padding-left: 1rem;
    padding-right: 1rem;
}

.grid > *:first-child {
    margin-left: -1rem;
}

.grid > *:last-child {
    margin-right: -1rem;
}

.grid > *.column--light {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
}

.grid > *.column--heavy {
    -webkit-box-flex: 7;
    -ms-flex-positive: 7;
    flex-grow: 7;
}

@media (max-width: 599px) {
    .grid--medium {
        display: block;
    }
    .grid--medium > * {
        padding-left: 0;
        padding-right: 0;
    }
    .grid--medium > *:first-child {
        margin-left: 0;
    }
    .grid--medium > *:last-child {
        margin-right: 0;
    }
}

@media (max-width: 959px) {
    .grid--large {
        display: block;
    }
    .grid--large > * {
        padding-left: 0;
        padding-right: 0;
    }
    .grid--large > *:first-child {
        margin-left: 0;
    }
    .grid--large > *:last-child {
        margin-right: 0;
    }
}


/* Layout */

.hubzone section {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem 2.4rem;
}

.hubzone .hero {
    height: 100vh;
    min-height: 450px;
}

.hubzone .contact {
    height: calc(100vh - 4.8rem);
    min-height: 450px;
}

.hubzone .hero,
.hubzone .contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hubzone .hero section,
.hubzone .contact section {
    width: 400px;
    padding: 0 2.4rem;
}

.hubzone .work h1 {
    text-align: center;
        font-size: 3.6rem;
    font-weight: 900;
    opacity: 1.00;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

.hubzone .thumb {
    max-width: 350px;
    width: 100%;
    margin: 0 auto 1.6rem;
    display: table;
}
