/* Base */
body {
  font: 12pt "Open Runde", sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 80ch;
}

a {
  color: #3fb699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header */
header {
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
}
header a {
  color: inherit;
  font-size: 2.5rem;
  font-weight: 700;
}

/* Menu */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.menu-content a {
  color: #77b2f9;
  font-size: 1rem;
  margin-right: 20px;
  font-weight: 500;
}

/* Utilities */
.hidden {
  display: none;
}

/* Social Links */
// Todo: re-add social links
.social-icons {
  display: none;
}
