.challenges {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

@media (max-width: 599px) {
  .challenges {
      display: block;
  }
}

.portfolio-item section {
  margin: 4rem auto;
  max-width: 90ch;
}

.portfolio-item section:first-child {
  margin-top: 0;
}

.column--heavy {
  max-width: 65%;
  margin-right: 2rem;
}
