.challenges {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

@media (max-width: 599px) {
  .challenges {
      display: block;
  }
}

.portfolio-item section {
  margin: 4rem auto;
  max-width: 90ch;
}

.portfolio-item section:first-child {
  margin-top: 0;
}

.column--heavy {
  max-width: 65%;
  margin-right: 2rem;
}

.portfolio-item h1 {
  font-size: 3rem;
  text-align: center;
}

.portfolio-item h2 {
  font-size: 2rem;
}

.portfolio-item h3 {
  font-size: 1.5rem;
}

.portfolio-item p,
.portfolio-item ul,
.portfolio-item li {
  font-size: 1.1rem;
}

.picture-caption {
  font-family: "Space Mono", monospace;
  margin-top: 0;
}

.portfolio-item nav {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
