/* Post */
.post-title a {
  color: var(--text);
  font-size: 1.75rem;
  font-weight: 500;
}

.post-container {
  margin-bottom: 4rem;
  clear: both;
}

.posts {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

.post-date {
  display: block;
  font-size: 0.8rem;
  padding-top: 1rem;
}
